<a href="https://colab.research.google.com/github/Sabertooth14/APP-lab/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import sqlite3
con  = sqlite3.connect('Developer db')
c=con.cursor()
# c.execute("Create table dev1(Prgramming language text, Duration int, Consultancy text )")
c.execute("insert into dev1 values('Pranav',12,'Microsoft')")
c.execute("insert into dev1 values('Mihir',10,'SAP')")
c.execute("insert into dev1 values('Darsh',11,'Oracle')")
c.execute("select * from dev1")
con.commit()
# print(c.fetchall())
# print(c.fetchmany(2))
print(c.fetchone())

('Pranav', 12, 'Microsoft')

In [15]:
cam = sqlite3.connect('Devleopr db')
a = cam.cursor()
# a.execute("Create table patient(ID int,Name text, bed int, Disease text) ")
a.execute("insert into patient values(10,'Mayo',204,'Accident')")
a.execute("insert into patient values(11,'John',205,'Diabetes')")
a.execute("insert into patient values(12,'Walter',207,'Parkisnons')")
a.execute("insert into patient values(13,'WillSmith',208,'Night blindness')")
a.execute("insert into patient values(14,'Danny',209,'Rickets')")
a.execute("select * from patient")
cam.commit()
#print(a.fetchall())

[(10, 'Mayo', 204, 'Accident'), (11, 'John', 205, 'Diabetes'), (12, 'Walter', 207, 'Parkisnons'), (13, 'WillSmith', 208, 'Night blindness'), (14, 'Danny', 209, 'Rickets'), (10, 'Mayo', 204, 'Accident'), (11, 'John', 205, 'Diabetes'), (12, 'Walter', 207, 'Parkisnons'), (13, 'WillSmith', 208, 'Night blindness'), (14, 'Danny', 209, 'Rickets')]

In [17]:
a.execute("delete from patient where ID=12")
a.execute("select * from patient")
print(a.fetchall())

[(10, 'Mayo', 204, 'Accident'), (11, 'John', 205, 'Diabetes'), (13, 'WillSmith', 208, 'Night blindness'), (14, 'Danny', 209, 'Rickets'), (10, 'Mayo', 204, 'Accident'), (11, 'John', 205, 'Diabetes'), (13, 'WillSmith', 208, 'Night blindness'), (14, 'Danny', 209, 'Rickets')]

In [ ]:
nul = sqlite3.connect("Developer db")
b= nul.curor()
b.execute("Create table table1(name text,Project_name text,status text, projecy_id) "