<a href="https://colab.research.google.com/github/Sabertooth14/APP-lab/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import sqlite3
con = sqlite3.connect('Students db')
c=con.cursor()
c.execute("Create table if not exists student(ID int, Name text, Dept text, CGPA real)")
c.execute("Insert into student values(1,'Pranav','CSE-AI/ML',9.5)")
c.execute("Insert into student values(2,'Darsh','CSE-IT',9.1)")
c.execute("Insert into student values(3,'Aditi','CSE-cyber',7.5)")
c.execute("Insert into student values(4,'Sanskar','CSE-BIg data',8.9)")
c.execute("Insert into student values(5,'Arunima','CSE-AI/ML',9.6)")
c.execute("Insert into student values(6,'Mihihr','CSE-core',9.75)")
c.execute("Select * from student")
con.commit()
print(c.fetchall())

[(1, 'Pranav', 'CSE-AI/ML', 9.5), (2, 'Darsh', 'CSE-IT', 9.1), (3, 'Aditi', 'CSE-cyber', 7.5), (4, 'Sanskar', 'CSE-BIg data', 8.9), (5, 'Arunima', 'CSE-AI/ML', 9.6), (6, 'Mihihr', 'CSE-core', 9.75), (1, 'Pranav', 'CSE-AI/ML', 9.5), (2, 'Darsh', 'CSE-IT', 9.1), (3, 'Aditi', 'CSE-cyber', 7.5), (4, 'Sanskar', 'CSE-BIg data', 8.9), (5, 'Arunima', 'CSE-AI/ML', 9.6), (6, 'Mihihr', 'CSE-core', 9.75)]

In [7]:
c.execute("UPDATE student SET Name='Ryan' WHERE ID=1")
c.execute("SELECT * FROM student")
con.commit()
a=c.fetchall()
for i in a:
  print(i)

(1, 'Ryan', 'CSE-AI/ML', 9.5)
(2, 'Darsh', 'CSE-IT', 9.1)
(3, 'Aditi', 'CSE-cyber', 7.5)
(4, 'Sanskar', 'CSE-BIg data', 8.9)
(5, 'Arunima', 'CSE-AI/ML', 9.6)
(6, 'Mihihr', 'CSE-core', 9.75)
(1, 'Ryan', 'CSE-AI/ML', 9.5)
(2, 'Darsh', 'CSE-IT', 9.1)
(3, 'Aditi', 'CSE-cyber', 7.5)
(4, 'Sanskar', 'CSE-BIg data', 8.9)
(5, 'Arunima', 'CSE-AI/ML', 9.6)
(6, 'Mihihr', 'CSE-core', 9.75)

In [8]:
c.execute("DELETE FROM student WHERE ID=6")
c.execute("SELECT * FROM student")
con.commit()
a=c.fetchall()
for i in a:
  print(i)

(1, 'Ryan', 'CSE-AI/ML', 9.5)
(2, 'Darsh', 'CSE-IT', 9.1)
(3, 'Aditi', 'CSE-cyber', 7.5)
(4, 'Sanskar', 'CSE-BIg data', 8.9)
(5, 'Arunima', 'CSE-AI/ML', 9.6)
(1, 'Ryan', 'CSE-AI/ML', 9.5)
(2, 'Darsh', 'CSE-IT', 9.1)
(3, 'Aditi', 'CSE-cyber', 7.5)
(4, 'Sanskar', 'CSE-BIg data', 8.9)
(5, 'Arunima', 'CSE-AI/ML', 9.6)

In [9]:
c.execute("SELECT * FROM student ORDER BY CGPA DESC")
con.commit()
a=c.fetchall()
for i in a:
  print(i)

(5, 'Arunima', 'CSE-AI/ML', 9.6)
(5, 'Arunima', 'CSE-AI/ML', 9.6)
(1, 'Ryan', 'CSE-AI/ML', 9.5)
(1, 'Ryan', 'CSE-AI/ML', 9.5)
(2, 'Darsh', 'CSE-IT', 9.1)
(2, 'Darsh', 'CSE-IT', 9.1)
(4, 'Sanskar', 'CSE-BIg data', 8.9)
(4, 'Sanskar', 'CSE-BIg data', 8.9)
(3, 'Aditi', 'CSE-cyber', 7.5)
(3, 'Aditi', 'CSE-cyber', 7.5)

In [10]:
c.execute("SELECT * FROM student GROUP BY ID")
con.commit()
a=c.fetchall()
for i in a:
  print(i)

(1, 'Ryan', 'CSE-AI/ML', 9.5)
(2, 'Darsh', 'CSE-IT', 9.1)
(3, 'Aditi', 'CSE-cyber', 7.5)
(4, 'Sanskar', 'CSE-BIg data', 8.9)
(5, 'Arunima', 'CSE-AI/ML', 9.6)